<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
</head>
<body>

<nav class="navbar is-primary is-mobile" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Модели
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Все модели
                    </a>
                    <a class="navbar-item "> <!-- is-selected -->
                        Создать модель
                    </a>
                </div>
            </div>

            <a class="navbar-item">
                Задачи
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Пользователи
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Все пользователи
                    </a>
                    <a class="navbar-item " href="/create-person"> <!-- is-selected -->
                        Создать пользователя
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" id="open-modal">
                        Войти
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="columns ml-6 mr-6 mt-2">
    <div class="column">
        <section class="hero is-small is-dark">
            <div class="hero-body">
                <p class="subtitle has-text-centered">Пользователи</p>
            </div>
        </section>

        <div class="box">
            <div class="columns mb-0 has-text-centered">
                <div class="column">ФИО</div>
                <div class="column">Позиция</div>
                <div class="column">Роль</div>
                <div class="column">Логин</div>
                <div class="column">Пароль</div>
            </div>
            <div id="person-list" class="mt-0">
            </div>
        </div>

        <a href="/create-person" class="button">Создать пользователя</a>
    </div>
</div>

<script>
    window.onload = async (event) => {
        console.log("page is fully loaded");

        const personList = document.getElementById('person-list');

        const response = await fetch(`http://localhost:8080/persons`);
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        const data = await response.json(); // Предполагаем, что API возвращает JSON
        console.log("RESPONSE", data);

        data.forEach(item => {
            let hr = document.createElement('hr');
            hr.classList.add('mt-0');
            hr.classList.add('mb-0');
            personList.appendChild(hr);

            let columns = document.createElement("div");
            columns.classList.add('columns');

            let columnFIO = document.createElement("div");
            columnFIO.classList.add("column");
            columnFIO.innerText = item.fio;
            columns.appendChild(columnFIO);

            let columnGroup = document.createElement("div");
            columnGroup.classList.add("column");
            columnGroup.innerText = item.group;
            columns.appendChild(columnGroup);
            columns.appendChild(columnFIO);

            let columnType = document.createElement("div");
            columnType.classList.add("column");
            columnType.innerText = item.type;
            columns.appendChild(columnType);

            let columnLogin = document.createElement("div");
            columnLogin.classList.add("column");
            columnLogin.innerText = item.login;
            columns.appendChild(columnLogin);

            let columnPassword = document.createElement("div");
            columnPassword.classList.add("column");
            columnPassword.innerText = item.password;
            columns.appendChild(columnPassword);

            personList.appendChild(columns);
        });
    };


</script>

</body>
</html>